* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  background-color: floralwhite;
}
#root {
  position: relative;
}

.page {
  width: 90%;
  min-width: 334px;
  min-height: 100%;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
h1 {
  margin: 1% 7% 0%;
  font-size: 3em;
  font-weight: bold;
}
.title-link,
.title-link:hover,
.title-link:active {
  color: black;
  text-decoration: none;
}
.title-text {
  margin: 0% 8%;
  font-size: 1em;
}

/* Navigation bar */
.bar-title {
  position: absolute;
  right: -25px;
  top: 40px;
  transform: rotate(-90deg);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: floralwhite;
  background-color: black;
  cursor: context-menu;
}
.bar-content {
  position: absolute;
  right: -15px;
  top: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: floralwhite;
  background-color: black;
  z-index: 10;
}
a,
a:active {
  color: floralwhite;
  text-decoration: none;
}
a:hover {
  color: gray;
}

/* Restaurant / Dish  */
.dish-container {
  width: min-content;
  display: inline-block;
  padding: 5px;
  position: relative;
}
.dish-info {
  position: absolute;
  top: 0px;
  left: 10px;
  opacity: 0;
}
.dish-container:hover img {
  opacity: 0.2;
}
.dish-container:hover .dish-info {
  opacity: 1;
}

tr {
  vertical-align: top;
}
td:first-child {
  color: gray;
}

/* other */
button {
  margin: 20px;
  font-size: 16px;
  background-color: lightyellow;
  border-radius: 4px;
}
button:hover {
  background-color: #fdfdb7;
}
.bold {
  font-weight: bold;
}
.link-link,
.link-link:active {
  color: black;
  text-decoration: none;
}
.link-link:hover {
  text-decoration: underline;
}
